name: Test Deployment

on:
  push:
    branches:
        - main
        - test_workflow

jobs:
  test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/calculator:test .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/calculator:test

      - name: Deploy to test server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.TESTSERVER_IP}}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/calculator:test
            docker stop calculator-test || true
            docker rm calculator-test || true
            docker run -d --name calculator-test -p 3000:3000 ${{ secrets.DOCKERHUB_USERNAME }}/calculator:test
